<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription Réussie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Inscription réussie !</h4>
            <p>Vous vous êtes inscrit avec succès.</p>
            <hr>
            <a href="{% url 'home' %}" class="btn btn-primary">Retour à la page d'accueil</a>
        </div>
    </div>
</body>
</html>
