<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Portail Santé</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">  <!-- Positionne ce menu à droite -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'equipe' %}">Portail Équipe</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Bienvenue sur le Portail Santé</h1>
    </div>
</body>
</html>
